*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:white;
    
 
    
}
nav{
   flex: 1;
   text-align: right;
   
}
nav ul{
    display: inline-block;
    list-style-type: none;
    

}
nav ul li{
    display: inline-block;
    margin: 20px;
    position: sticky;
   
}
nav ul li a{
    text-decoration: none;
    color: teal;
  
}
.fa{
    margin: 10px;
}

#container{
    max-width: 1500px; 
    margin: auto;

}
#image{
    max-width: 100%;
    padding: 50px 0;
    
}
#all{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    }
#text{
    flex-basis: 50%;
    min-width: 300px;
    padding: 10px;
    text-align: center;
 
}
h1{
    font-size: 35px;
}
p{
font-size: 20px;
}
#btn{
    background-color: brown;
    color:black;
    border-radius: 30px;
    margin: 20px;
    font-size: 20px;
    padding: 3px;

}
#btn .fa{
    background-color: brown;
    
}
#category{
    display: flex;
    padding: 4px;
    margin: 3px;
    
}
.image-container{
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
}

.button{
    color:black;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
    
}
#fea{
    text-align: center;
    font-size: 23px;
    padding: 5px;
}
p{
    font-size: 20px;
    padding: 5px;
    
}
#cate2{
    display: flex;
    padding: 5px;
}





